<a href="https://colab.research.google.com/github/FelipeRFN/7DaysOfCode/blob/main/7_days_of_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1> Dia 01

<h3> Tratamento dos dados
<br>
O processo de tratamento será feito pelo Python utilizando a biblioteca Pandas. Irei primeiramente tratar valores nulos e retirar valores que acredito não terem tanta relevância para prestação de contas, para que a planilha possa ficar mais leve e mais fácil de ser utilizada.

Abaixo foi importada a biblioteca que será trabalhada e feito a leitura e armazenamento dos dados em uma variável chamada dados

In [98]:
import pandas as pd
dados = pd.read_csv('despesa_ceaps_2022.csv', sep = ';', encoding = 'latin-1', header = 1)

Foi realizado então o primeiro tratamento removendo algumas colunas 'Dispensáveis' a primeira vista, como por exemplo a coluna Ano e Mes, visto que a tabela já possui um campo data.
<br>
Também foram passadas as alterações para a variável df, mantendo assim um backup sem alterações da tabela na variável dados

In [99]:
df = dados.drop(columns=['ANO'], inplace = False)
df.drop(columns=['MES'], inplace = True)
df.head()

,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
0,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,001/22,03/01/2022,Despesa com pagamento de aluguel de imóvel par...,6000,2173614
1,ACIR GURGACZ,Divulgação da atividade parlamentar,26.320.603/0001-64,INFORMANAHORA,000000000000310/A,04/01/2022,Despesa com divulgação da atividade parlamenta...,1500,2173615
2,ACIR GURGACZ,Divulgação da atividade parlamentar,13.659.201/0001-47,LINHA PURPURA FOTO E VIDEO LTDA,107,14/01/2022,Despesa com produção de texto e edição de víde...,6000,2173616
3,ACIR GURGACZ,Divulgação da atividade parlamentar,23.652.846/0001-01,ROBERTO GUTIERREZ DA ROCHA M.E.I.,187,18/01/2022,Divulgação da atividade parlamentar,1000,2173618
4,ACIR GURGACZ,Divulgação da atividade parlamentar,08.941.827/0001-01,RONDONIA DINÂMICA COM. E SERV. DE INFORMÁTICA ...,000000000001772/A,17/01/2022,Divulgação da atividade parlamentar,2000,2173617

Verificados quais colunas possuem valores nulos e quantos são.

In [100]:
df.isnull().sum()

SENADOR                 0
TIPO_DESPESA            0
CNPJ_CPF                0
FORNECEDOR              0
DOCUMENTO             934
DATA                    0
DETALHAMENTO         7743
VALOR_REEMBOLSADO       0
COD_DOCUMENTO           0
dtype: int64

Verificado também o tipo de dados que estão armazenados na tabela.

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16805 entries, 0 to 16804
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SENADOR            16805 non-null  object
 1   TIPO_DESPESA       16805 non-null  object
 2   CNPJ_CPF           16805 non-null  object
 3   FORNECEDOR         16805 non-null  object
 4   DOCUMENTO          15871 non-null  object
 5   DATA               16805 non-null  object
 6   DETALHAMENTO       9062 non-null   object
 7   VALOR_REEMBOLSADO  16805 non-null  object
 8   COD_DOCUMENTO      16805 non-null  int64
dtypes: int64(1), object(8)
memory usage: 1.2+ MB

Abaixo foi realizado o tratamento de alguns dados, substituindo os valores nulo pelo texto "Não informado", mostrando que não foram especificadas as informações. Além disso foram alteados os valores da data e do valor reembolsado, anteriormente sendo salvos como strings, agora estão sendo tratados como datas e valores numéricos respectivamente.

In [93]:
df.fillna('Não informado', inplace = True)
df['DATA'] = pd.to_datetime(df['DATA'], format = '%d/%m/%Y')
df['VALOR_REEMBOLSADO'] = df['VALOR_REEMBOLSADO'].str.replace(',', '.').astype(float)

df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16805 entries, 0 to 16804
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SENADOR            16805 non-null  object
 1   TIPO_DESPESA       16805 non-null  object
 2   CNPJ_CPF           16805 non-null  object
 3   FORNECEDOR         16805 non-null  object
 4   DOCUMENTO          16805 non-null  object
 5   DATA               16805 non-null  datetime64[ns]
 6   DETALHAMENTO       16805 non-null  object
 7   VALOR_REEMBOLSADO  16805 non-null  float64
 8   COD_DOCUMENTO      16805 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(6)
memory usage: 1.2+ MB

SENADOR              0
TIPO_DESPESA         0
CNPJ_CPF             0
FORNECEDOR           0
DOCUMENTO            0
DATA                 0
DETALHAMENTO         0
VALOR_REEMBOLSADO    0
COD_DOCUMENTO        0
dtype: int64